.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  /* padding: 5rem 0; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.obtainNowContainer {
  width: 100%;
  height: 400px;
  background-color: #ffbf00;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  
}
.knowMoreContainer {
  width: 100%;
  height: 400px;
  background-color: rgb(35, 163, 184);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 45px;
}
.leftContainer{
  flex:1;
  margin: 50px;
  background-color: aqua;
  align-items: center;  
  justify-content: center;
  width: 100px;
  padding: 20px;
  min-width: 300px;
}
.rigthContainer{
  flex:1;
  margin:10px;
  background-color: blue;
  margin: 50px; 
  min-width: 300px;

}
.topBar {
  width: 100%;
  display: flex;
  height: 150px;
  /* background-color: aqua; */
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  z-index: 100;
}

.descriptionContainer{
  width: 80%;
/*   background-color: aqua;
 */  position: absolute;
  z-index: 100;
  top: 35%;
  margin-left: 10%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding:10px;
}
.divRow {
  margin:30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
/*   background-color: purple;
 */}
.titles {
  /* font-size: larger; */
  font-weight: bold;
  font-family: Futura;
  font-size: 80px;
  text-shadow: 0px 10px 10px #234D3C;
  color: #eaeaea;
  font-size: min(max(1rem, 8vw), 50px);
}


.backdrop {
  background: url('/niña.jpg');           /*  url("https://rpsthecoder.github.io/img-repo/Taitō%20by%20Jezael%20Melgoza.jpg") center; */
  background-size:        contain;
  margin:                 auto;
 /*  width:                  100%; */
 width: 100%;
height: 100%;
justify-content: center;
align-items: center;
display: flex;
}
.text {
  color:              white;
  border:             4px solid;
  background:         rgb(55, 80, 161);
  mix-blend-mode:     multiply;
  font:               bolder 12vw 'Alfa Slab One';
  text-align:         center;
  margin:             0;
 
  
}
.subtitles {
  font-size: medium;
  font-weight: bold;
  font-family: Futura;
  color: #eaeaea;
  text-shadow: 0px 10px 10px #234D3C;
  font-size: min(max(1rem, 4vw), 22px);
  text-align: center;
}

.logoImg {
  /* width: px; */
  height: 60px;
  object-fit: cover;
  margin-right: 20px;
}

.mediaLogo {
  width: 35px;
  height: 35px;
  object-fit: cover;
}

.logoContainer {
  flex:2;
  height: 50px;
/*   background: brown;
 */  padding-left: 15px;
}

.socialContainer {
  display: flex;
  flex:1;
  height: 50px;
/*   background: pink;
 */  align-items: center;
  justify-content: space-between;
  min-width: 150px; 
  padding-right: 30px;

}

.topContainer {
  display: flex;
  width: 100%;
/*   background-color: #800080;
 */  height: 300px;
  flex-direction: column;
  background-color: rgb(197, 197, 197);
  position: relative;
  margin-bottom: 150px;
}

.sliderContainer {
  position: relative;
 height: 400px;}

.textSliderContainer {
  position: absolute;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
